<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/register.css">
    <link rel="stylesheet" href="./Semantic/semantic.min.css">
    <script src="./angular-1.6.6/angular.min.js"></script>
</head>

<body ng-app="">
    <form name="register" class="register">
        <div class="ui fluid left icon input">
            <input type="text" name="name" ng-model="name" placeholder="请输入用户名" required>
            <i class="user icon"></i>
        </div>
        <div class="ui fluid left icon input">
            <input type="password" name="password" ng-model="password" placeholder="输入密码" ng-focus>
            <i class="lock icon"></i>
        </div>
        <div class="ui fluid left icon input">
            <input type="password" name="confirmPwd" ng-model="confirmPwd" placeholder="再次输入密码" ng-focus>
            <i class="lock icon"></i>
            <span class="warning" ng-show="confirmPwd!=password && register.confirmPwd.$dirty">两次密码输入不一致</span>
        </div>
        <div class="registerbtn">
            <button >注 册</button>
        </div>
        <a href="./login.html">去登录</a>
    </form>
</body>

</html>